<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Satriya Wicaksana">
  <meta name="description" content="Foodhub is a website that was built to be your dining companion. find all your favorite places to eat in one place. write down what you think about the restaurant you visit, let the world know it">
  <title>Foodhub</title>
</head>
<body>
  <a href="#main-content" class="skip">Skip to content</a>
  <header class="header">
    <div class="header__logo">Foodhub</div>
    <button class="header__menu" id="hamburger-menu">	&#9776;</button>
    <nav class="header__nav" id="header__nav">
      <ul class="header__ul">
        <li><a href="#">Home</a></li>
        <li><a href="#">Favorite</a></li>
        <li><a href="https://www.github.com/iamsatriya">About Us</a></li>
      </ul>
      <button id="close-menu">&#10005;</button>
    </nav>
  </header>
  <main id="main-content">
  </main>
  <!-- <article class="detail">
    <img id="detail__photo" class="detail__photo" alt="cupcakes">
    <div class="detail__container">
      <div class="detail__fav">
        <div class="detail__bookmark"></div>
      </div>
      <h3 class="heading__secondary">Restaurant Name</h3>
      <div class="detail__categories">
        <span class="detail__categories-item">Italian</span>
        <span class="detail__categories-item">Modern</span>
      </div>
      <div class="detail__address-container">
        <div class="detail__icon detail__icon-loc"></div>
        <p class="detail__address-location">Jl. Jumawa No. 99, <span class="bold">Medan</span></p>
      </div>
      <div class="detail__rating-container">
        <div class="detail__icon detail__icon-rating"></div>
        <p class="detail__rating-value">4.9</p>
      </div>
      <div class="detail__menu-wrapper">
        <h4 class="detail__menu-title">Food</h4>
        <p class="detail__menu-item">Toastie Salmon</p>
        <p class="detail__menu-item">Chicken Teriyaki</p>
      </div>
      <div class="detail__menu-wrapper">
        <h4 class="detail__menu-title">Drink</h4>
        <p class="detail__menu-item">Lemonade</p>
        <p class="detail__menu-item">Cendol Dawet</p>
      </div>
      <div class="detail__review">
        <h4 class="detail__review-title">Reivew</h4>
        <div class="detail__review-item">
          <q class="detail__review-comment">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam quisquam quam architecto, sint accusantium maxime! Unde quaerat sit quae animi!</q>
          <p class="detail__review-user">Ahmad</p>
          <p class="detail__review-date">18 September 2021</p>
        </div>
      </div>
    </div>
  </article> -->
  <footer class="footer">Copyright &copy; 2021 - <span class="yellow">Foodhub</span></footer>
</body>
</html>