/* 
========================================
Reset Style
========================================
*/
*, 
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  @include respond(tab-por) {
    font-size: 100%;
  }
  @include respond(desktop) {
    font-size: 65%;
  }
}
body {
  box-sizing: border-box;
  font-family: 'Baloo 2', sans-serif;
  color: $black;
}